Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.git
.gitignore
dist
coverage
.nyc_output
.vscode
*.md
test
.eslintrc.js
.prettierrc